@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Poppins', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

select {
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
select:focus {
    box-shadow: 0 0 0 0.1rem #007bff;
}